<%= form_with(model: @merchant, url: {action: 'create'}, method: 'post', :class => "d-grid gap-3", local: true) do |form| %>
  <div>
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :city, class: "form-label" %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div>
    <%= form.label :street, class: "form-label" %>
    <%= form.text_field :street, class: "form-control" %>
  </div>

  <div>
    <%= form.label :country_code, class: "form-label" %>
    <%= form.number_field :country_code, class: "form-control" %>
  </div>

  <div>
    <%= form.label :phone, class: "form-label" %>
    <%= form.text_field :phone, class: "form-control" %>
  </div>

  <div>
    <%= form.label :website, class: "form-label" %>
    <%= form.text_field :website, class: "form-control" %>
  </div>

  <% if @merchant.errors.any? %>
    <div style="color: red">
      <ul>
        <% @merchant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex justify-content-between">
    <%= link_to "Back to merchants", merchants_path, class: "btn btn-outline-dark" %>
    <%= form.submit "Create Merchant", class: "btn btn-outline-dark" %>
  </div>
<% end %>
