<div class="form card border-dark">
  <div class="text-center card-header bg-dark text-white fw-bold fs-3">Log in</div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, html: {class: "d-flex flex-column gap-3"}, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "form-label mb-1" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "form-label mb-1" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: 'form-check-input' %>
          <%= f.label :remember_me, class: "form-label" %>
        </div>
      <% end %>

      <div class="actions d-flex justify-content-between align-items-center">
        <%= render "devise/shared/links" %>
        <%= f.submit "Log in", data: {turbo: false}, class: "btn btn-outline-dark" %>
      </div>
    <% end %>

  </div>
</div>


